<h1><%= @user.nickname %>님</h1>
<%= image_tag attachments['profile_img.png'].url, class: 'photos' %>
<div class="article" style="">내 아이돌 굿즈를 모아볼 수 있는 팬메이드에 오신 걸 환영합니다!</div>
<div class="article" style="margin-top: 4px;">금손님들이 더 편하게 아이들을 만들 수 있도록</div>
<div class="article" style="margin-top: 4px;">마망들이 신뢰할 수 있는 굿즈를 구매할 수 있도록</div>
<div class="article" style="margin-top: 4px;">건강한 굿즈문화를 만들어갈 수 있는 팬메이드가 되겠습니다^^</div>