$media-mobile: "only screen and (max-width:767px)";  // mobile
$media-tablet: "only screen and (min-width:768px) and (max-width:1023px)"; // tablet
$media-pc: "only screen and (min-width:1024px)"; // PC
$media-not-pc: "only screen and (max-width: 1023px)"; // not pc

$bora: #651fff;
$light-bora: #ece3ff;
$hover-bora: rgba(101, 31, 254, 0.6);

$bgcolor: #f7f9f9;
$warm-grey: #909090;
$greyish-brown: #4a4a4a;
$greyish: #b3b3b3;

$bright-line: #f6f6f6;
$white: #ffffff;

$web_icon_width: 146px;
$web_list_width: 112px;